p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
i,
u,
ul,
li,
table,
td,
th,
td {
    letter-spacing: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

#shade-configurator {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ddd;
}

#step-content {
    margin: 20px 0;
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.config-step button {
    padding: 10px 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #e5c675;
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E5C675;
    border-radius: 0px;
    width: 50%;
}

/* 
.config-wrapper {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
} */
.config-wrapper {
    display: flex;
}

.config-left {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.config-right {
    max-width: 33.333333%;
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
}

.config-left .status {
    margin-bottom: 15px;
    font-size: 22px;
    margin-top: 30px;
    text-align: center;
}

.config-left .primary-btn {
    background: #e7c97a;
    border: none;
    padding: 14px;
    width: 100%;
    cursor: pointer;
    margin: 0px 0 20px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E5C675;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    gap: 10px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.note {
    font-size: 10pt;
    border: 1px solid #dbbe70;
    padding: 10px;
    margin: 0 0px 16px 0px;
    color: #000;
}

.config-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

.config-table td:first-child {
    color: #212529;
    font-size: 16px;
    font-weight: bold;
}

.config-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #000;
    font-weight: 500;
    letter-spacing: 0;
}

.config-wabenplissee {
    display: flex;
    gap: 30px;
}

.config-wabenpl {
    max-width: 66.666667%;
}

.config-table-img {
    max-width: 35.333333%;
    width: 100%;
}

.price-box {
    border-collapse: collapse;
    background-color: #f2f2f2;
    margin-bottom: 16px;
}

.price-box div {
    display: flex;
    justify-content: space-between;
    padding: 11px 14px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.price-box .total {
    font-size: 18px;
    font-weight: bold;
}

.price-box div span {
    font-size: 16px;
    color: #212529;
    font-weight: 600;
}

.price-box div p {
    margin: 0px;
    color: #212529;
    font-size: 16px;
}

.preview-img {
    width: 100%;
    border: 1px solid #ddd;
}

.config-right {
    margin-left: 123px;
}

.config-right .summary-box {
    padding: 15px;
    position: relative;
    top: -25px;
    z-index: 999;
    background: #F2F2F2;
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 1px;
    padding-left: 3%;
    padding-right: 3%;
}

.config-right img,
.config-table-img img {
    display: block;
}

.config-right .summary-box h3 {
    font-size: 22px;
    line-height: 31px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    font-weight: 500;
}

.config-right .summary-box ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.config-right .summary-box li {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 17px;
    padding: 0px;
    padding-bottom: 5px;
    border-top: 0px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
}

.config-step3 input[type="number"] {
    width: 100%;
    margin-top: 6px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #e4e5ec;
    transition: border 0.3s, box-shadow 0.3s;
}

.config-step3 input[type="number"]:focus {
    outline: none;
    border-color: #e5c675;
    box-shadow: 0 0 0 3px rgb(186 188 191 / 15%);
}

.config-step.config-step3 label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

table.final-summary {
    width: 100%;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    margin-top: 16px;
}

.quantity.quantity__qty {
    display: inline-flex;
    align-items: stretch;
    overflow: hidden;
    margin: 16px 0px;
    gap: 10px;
    width: 25%;
}

.summary-price div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 14px;
}

.summary-price span {
    font-size: 14px;
    color: #000;
    text-align: left;
}


.quantity.quantity__qty button {
    width: 100%;
    background: #f5f5f5;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s;
    line-height: normal;
    border: 1px solid #dee2e6;
    height: 50px;
}

.quantity button:hover {
    background: #e0e0e0;
}

.quantity button:active {
    background: #ccc;
}

.quantity.quantity__qty .qty-value {
    width: 100%;
    /* width: 210px; */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity:after,
.quantity:before {
    display: none;
}

.quantity.quantity__qty button {
    padding: 0;
    display: block !important;
    margin: initial;
}

table.final-summary td:first-child {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-align: left;
}

table.final-summary tr td {
    padding: 13px 20px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #000;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin: 0;
    text-align: right;
    text-transform: capitalize;
}

.summary-price-versand .summary-price {
    border: 1px solid #dee2e6;
    border-left: 0;
    border-right: 0;
    padding: 20px 0px;
}

.summary-price-versand .summary-price div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 14px;
    color: #212529;
    padding-bottom: 0px;
}

.summary-price-versand .summary-price span {
    padding: 0px;
    border-top: 0px;
    font-size: 14px;
    line-height: 17px;
    color: #212529;
}

.summary-price-versand .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 14px;
    color: #212529;
    padding-top: 10px;
}

/* Responsive */
@media (max-width: 900px) {
    .config-wrapper {
        grid-template-columns: 1fr;
    }
}


/* GPT CSS */
.cart-success-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.cart-success-popup.active {
    display: flex;
}

.cart-success-inner {
    /* background: #fff; */
    /* max-width: 420px; */
    /* width: 90%; */
    /* padding: 30px; */
    /* text-align: center; */
    /* border-radius: 8px; */
    /* position: relative; */
    /* animation: popupFade 0.25s ease-out; */
    background: #fff;
    max-width: 650px;
    width: 100%;
    left: 0;
    position: relative;
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 20px;
    text-align: center;
}

.cart-success-inner h3 {
    font-size: 28px;
    margin-bottom: 0.5rem !important;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    color: #000;
    letter-spacing: 0;
}

.cart-success-inner a.btn.btn-block.btn-yellow {
    background: #E5C675;
    border-radius: 0;
    padding: 3px 3px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #212529;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0;
}

p.question {
    font-size: 21px;
    color: #000;
    margin: 0 0 16px;
    /* line-height: 1.5; */
    letter-spacing: 0;
}

.cart-success-inner a.btn.btn-block.btn-black {
    background: #000000;
    margin: 15px 0;
    color: #fff;
    border-radius: 0;
    padding: 3px 3px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0;
}

.cart-success-inner a.btn.btn-block.btn-gray {
    background: #f0f0f0;
    border-radius: 0;
    padding: 3px 3px;
    font-size: 20px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    letter-spacing: 0;
    line-height: 1.5;
}

@keyframes popupFade {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}



.is-hidden {
    display: none !important;
}



.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    display: none;
}

.title-back-btn {
    margin-top: 24px;
}

.title-back-btn h1.title {
    font-size: 30px;
    margin: 0px 0px 8px 0px;
}

.title-back-btn img {
    max-width: fit-content;
}

.config-step {
    margin-bottom: 40px;
    margin-top: 45px;
}

.title-back-btn hr.main-sep {
    margin-top: 0px;
    margin-bottom: 26px;
}

.custom-alert {
    background: #f6ebce;
    border: 1px solid #e5c675;
    display: table;
    padding: 15px;
    margin-bottom: 20px;
}

.image-div {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.image-div img {
    max-width: 33px;
}

.custom-alert .text-div {
    font-size: 15px;
    text-align: justify;
    color: #000;
    letter-spacing: 0;
}

.option-card {
    height: 100%;
    border: 1px solid #E4E5EC;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: start;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

label.option-card img {
    margin-left: auto;
    margin-right: 0;
    width: 24px;
    height: 24px;
}

.config-step h2 {
    font-size: 22px;
    color: #000000;
    text-align: center;
    line-height: 1.2;
    margin: 0 0px 5px 0px;
    font-weight: 500;
}

.config-step p {
    text-align: center;
    font-size: 16px;
    margin: 0px 0px 30px 0px;
    letter-spacing: 0;
    line-height: normal;
    color: #000;
}

label.option-card span {
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
    padding-left: 0px;
    color: #000;
    display: flex;
    flex-direction: column;
}

.option-title1 {
    display: flex;
    gap: 6px;
}

label.option-card input {
    transform: scale(1.3);
    margin-right: 13px;
}

.content-after-radiobtn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}




.zoom-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Small image */
.zoom-thumb {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ddd;
    cursor: zoom-in;
}

/* Zoom preview (OUT OF FLOW) */
.zoom-preview {
    position: absolute;
    /* ðŸ”¥ key fix */
    top: 0;
    /* left: 180px;             place to the right */
    right: 350px;
    width: 320px;
    height: 320px;

    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;

    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    display: none;
    /* hidden by default */
    z-index: 9999999999999;
    /* above everything */
}

/* Show zoom WITHOUT moving layout */
.zoom-wrapper:hover .zoom-preview {
    display: block;
}

.zoom-preview {
    position: absolute;
    top: 0;
    /* left: 310px; */
    right: 500px;
    width: 320px;
    height: 320px;

    background-repeat: no-repeat;
    background-size: 500%;
    background-position: center;

    pointer-events: none;
    /* ðŸ”¥ CRITICAL */
    z-index: 99999;
}

.zoom-preview.is-left {
    left: auto;
    right: 500px;
}

/***********************************/
.option-image {
    width: 50%;
}

.step-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}

.option-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    display: none;
    width: 100%;
}

.measure-field {
    display: flex;
    flex-wrap: wrap;
}

.measure-field label {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.measure-field input {
    width: 50%;
    margin-top: 0px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #e4e5ec;
    transition: border 0.3s, box-shadow 0.3s;
}

.option-card:has(input[type="radio"]:checked) .option-inner {
    display: flex;
}

.option-text {
    padding-left: 30px;
    width: 50%;
}

.option-title {
    width: 100%;
    display: flex;
    align-items: center;
}

.option-title1 {
    display: flex;
    gap: 6px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
}

.option-title img {
    width: 24px;
    height: 24px;
    float: right;
}

.option-description {
    font-size: 14px;
    line-height: normal;
    color: #000;
}

.option-card:hover {
    border: 1px solid #000000;
}

.option-image.main-img img {
    width: 100%;
    height: 100%;
}

[data-step="3"] input {
    width: auto;
    padding: 10px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-top: 0px;
}

.option-description {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
    letter-spacing: 0px;
}

.heading_content_div_1 {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}

/* [data-step="3"] div {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
} */

[data-step="3"] img {
    max-width: 470px;
    width: 100%;
    margin-bottom: 0px;
}

[data-step="3"] label {
    display: flex;
    flex-direction: column;
}

.option-image.main-img .option-zoom {
    width: 100%;
}

@media (max-width: 900px) {
    .title-back-btn h1.title {
        font-size: 18px;
    }

    .image-div {
        width: 32px;
        padding-top: 8px !important;
        flex-shrink: 0;
        padding: 0;
        padding-right: 10px;
    }

    .custom-alert .text-div {
        text-align: left;
        flex: 1;
    }

    .config-wrapper {
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }

    .config-left {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .config-right {
        margin-left: 0;
        max-width: 100%;
    }

    .option-image,
    .option-text {
        width: 100% !important;
        padding-left: 30px !important;
    }

    .measure-field input {
        width: 100%;
    }

    .option-title1 {
        font-size: 14px;
        flex-wrap: wrap;
    }

    .option-card:has(input[type="radio"]:checked) .option-inner {
        flex-direction: column-reverse;
    }

    [data-step="3"] input {
        width: auto;
    }

    .quantity.quantity__qty {
        width: 45%;
    }

    .option-image.main-img img {
        max-width: 100%;
    }

    .zoom-wrapper:hover .zoom-preview {
        display: block;
        display: none !important;
    }
}

/* Added By sharif */

.measure-field {
    margin-bottom: 16px;
}

.measure-field input.error {
    border: 2px solid #d32f2f;
    background: #fff5f5;
}

.measure-error {
    color: #d32f2f;
    font-size: 13px;
    margin-top: 6px;
    display: none;
}


.option-zoom {
    position: relative;
    overflow: hidden;
    width: 60%;
}

.option-zoom img {
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 0.1s ease;
    will-change: transform;
    cursor: zoom-in;
}


.config-step.is-hidden {
    display: none;
}

.button_back {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 4px;
}

.shopify-block.shopify-app-block {
    width: 100%;
}

/* Coded by Ajay Gill */
.vn-banner-slide {
position: relative;
}
.vn-banner-slide img {
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
min-height: 300px;
max-height: 300px;
}
.vn-banner-slide-content {
position: absolute;
top: 20px;
left: 20px;
}
.vn-banner-slide-content h1 {
    margin: 0px 0;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 800;
    opacity: 1;
    text-transform: capitalize;
    color: #000 !important;
    width: 60%;
}
.config-wrapper {
padding-bottom: 40px;
}
@media (max-width: 900px) {
body .vn-banner-slider-section {
    display: none;
}
body .config-wrapper {
padding-bottom: 0px;
}
}

@media (min-width: 768px){
.shopify-app-block .config-wrapper .config-right {
    padding-top: 15px;
}
body .config-right {
    max-width: 33.333333%;
    position: sticky;
    top: 81px !important;
    height: fit-content;
    width: 100%;
}
}


.dropdown-field select {
    width: 40%;
    border: solid 1px #f8f9fa;
    padding: 13px;
    border-radius: 27px;
    background: #f8f9fa;
    border-right: solid 11px #f8f9fa;
}
.dropdown-step-row .dropdown-label {
    font-size: 13px;
    font-weight: 600;
}
.dropdown-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
/* .config-right .summary-box em, .config-right .summary-box p s, .config-right .summary-box u, .config-right .summary-box p {
    font-style: normal;
    text-decoration: none;
    text-decoration: none;
    font-weight: 300;
} */
/* table.final-summary td s, table.final-summary td u, table.final-summary td em, table.final-summary td p  {
    text-decoration: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
} */

.config-step h1 {
    text-align: center;
    margin: 7px 0px;
}